<!DOCTYPE html>
<html lang="en">
<div th:fragment="navegacion-seccion" th:remove="tag">
    <div class="container">
        <nav class="navbar sticky-top d-flex justify-content-start align-items-center">
            <button class="btn" type="button">
                <a href="/">
                    <i class="fas fa-cube me-2"></i>
                    <span>// SISTEMA-CONTACTOS</span>
                </a>
            </button>
            <button class="btn" type="button">
                <a href="/">
                    <i class="fas fa-terminal me-1"></i>
                    [INICIO]
                </a>
            </button>
            <button class="btn" type="button">
                <a href="/agregar">
                    <i class="fas fa-user-plus me-1"></i>
                    [AGREGAR]
                </a>
            </button>
        </nav>
    </div>
</div>