APP_NAME=contactos

# ==========================
# BASE DE DATOS LOCAL
# ==========================

DB_USERNAME=your_user
DB_PASSWORD=your_password

DB_URL=jdbc:mysql://localhost:3306/contactos_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true


# ==========================
# BASE DE DATOS REMOTA
# ==========================

#DB_USERNAME=remote_user
#DB_PASSWORD=remote_password
#DB_URL=jdbc:mysql://remote_host:3306/contactos_db?sslMode=REQUIRED&serverTimezone=UTC


# ==========================
# SERVIDOR
# ==========================

SERVER_PATH=/
PORT=8080


# ==========================
# POOL DE CONEXIONES
# ==========================

CONNECTION_TIMEOUT=10000
MAXIMUM_POOL_SIZE=10