<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/cabecero::cabecero-seccion(titulo='Sistema de Contactos | Cyberpunk Edition')}">
</head>
<body>

<!-- NAVBAR CYBERPUNK -->
<div th:replace="~{fragmentos/navegacion::navegacion-seccion}"/>
<!-- CONTENIDO PRINCIPAL CYBERPUNK -->
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="cyber-title" data-text="SISTEMA DE CONTACTOS">
                SISTEMA DE CONTACTOS
            </h3>

            <!-- Tabla listado de Empleados -->
            <div th:replace="~{fragmentos/tabla::tabla-seccion}"/>

            <!-- Tarjetas cyberpunk -->
            <div th:replace="~{fragmentos/tarjetas-cyberpunk::seccion-tarjeta-cyberpunk}"/>

        </div>
    </div>
</div>

<!-- FOOTER CYBERPUNK (OPCIONAL) -->
<div th:replace="~{fragmentos/pie-pagina::pie-pagina-seccion}"/>
</body>
</html>